@model Olimpiadas.Models.Calificaciones

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Calificaciones</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.dorsal)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.dorsal)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.idPrueba)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.idPrueba)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.fecha)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.fecha)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.posicion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.posicion)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
